// _variables.scss
$font-family-body: "Noto Sans JP", sans-serif;
$font-family-heading: "Roboto Slab", serif;

$color-primary: #509527;
$color-secondary: #55a500;
$color-text-body: #000000;
$color-text-white-body: #ffffff;
$color-bg-light: #edf4e6;
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 48px;
