---
//フォーム送信成功後の完了ページ
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>お問い合わせ完了</title>
</head>

<div class="p-contact-thanks">
  <div class="p-contact-thanks__content">
    <h1 class="p-contact-thanks__title">お問い合わせいただきありがとうございます</h1>
    <p class="p-contact-thanks__text">
      お問い合わせ内容を送信いたしました。<br>
      ご入力いただいたメールアドレス宛に、確認のメールを自動送信しておりますのでご確認ください。<br>
      万が一、メールが届かない場合は、迷惑メールフォルダをご確認いただくか、再度お問い合わせください。
    </p>
    <a href="/" class="p-contact-thanks__button">トップページに戻る</a>
  </div>
</div>