/* Contact Form Styles */
@import "../variables";

.p-contact {
  padding: 50px 20px;
  background-color: $color-bg-light;
  color: #333;

  &__header {
    text-align: center;
    margin-bottom: 40px;
  }

  &__title {
    color: $color-primary;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 20px;
    color: $color-text-body;
    letter-spacing: 0.3em;
  }

  &__header-text {
    // スタイルを必要に応じて追加
  }
}

.p-contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;

  &__group {
    margin-bottom: 20px;

    &--name,
    &--gender,
    &--email,
    &--contact {
      display: flex;
    }
  }

  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    width: 160px;

    &--required {
      width: 100%;
    }
  }

  &__options-group {
    display: flex;
    gap: 20px;
  }

  .p-contact-form__options-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2つの均等な幅の列を作成 */
    grid-template-rows: repeat(
      2,
      auto
    ); /* 4つの行をコンテンツの高さに合わせる */
    gap: 10px;
  }

  &__option {
    font-weight: normal;
  }

  &__input,
  &__select,
  &__textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #f9f9f9;

    &:focus {
      outline: none;
      border-color: #4caf50;
    }
  }

  &__textarea {
    resize: vertical;
  }

  &__submit {
    width: 100%;
    padding: 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }

  &__group--privacy {
    margin-top: 30px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fcfcfc;
    border-radius: 4px;
  }

  &__privacy-title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__privacy-content {
    max-height: 150px;
    overflow-y: scroll;
    padding-right: 15px;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #666;
  }

  &__group--consent {
    text-align: center;
  }

  &__consent-label {
    font-weight: bold;
    cursor: pointer;
  }

  // ラジオボタンとチェックボックスのスタイル
  input[type="radio"] {
    -webkit-appearance: none;
    background-color: #fff;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
  }

  input[type="radio"]::before {
    content: "";
    display: block;
    position: absolute;
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: transparent;
    transition: 0.2s ease;
  }

  input[type="radio"]:checked::before {
    background: black;
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 3px;
    width: 12px;
    height: 6px;
    border-bottom: 2px solid $color-primary;
    border-left: 2px solid $color-primary;
    transform: rotate(-45deg);
  }
}
