---
import BaseLayout from '../../layouts/BaseLayout.astro';
import client from '../../lib/microcms/client';
import type { MicroCMSListResponse } from 'microcms-js-sdk';
export const prerender = true;

export async function getStaticPaths() {
  const data = await client.get<MicroCMSListResponse<any>>({
    endpoint: 'news',
    queries: { filters: 'category[equals]dic21ntqug7' } // お知らせのみを対象にする
  });
  
  return data.contents.map(item => ({
    params: { id: item.id },
  }));
}

const { id } = Astro.params;
const newsDetail = await client.get<any>({
  endpoint: 'news',
  contentId: id,
});

// descriptionを生成
const contentText = newsDetail.content.replace(/(<([^>]+)>)/gi, "").replace(/\n/g, '');
const description = contentText.substring(0, 120) + '...';

---
<BaseLayout title={newsDetail.title} description={description}>
  <div class="p-news-detail l-container">
    <h1 class="p-news-detail__title">{newsDetail.title}</h1>
    <p class="p-news-detail__date">{new Date(newsDetail.updatedAt).toLocaleDateString('ja-JP')}</p>
    <div class="p-news-detail__content">
      <Fragment set:html={newsDetail.content} />
    </div>
  </div>
</BaseLayout>

