---
// src/components/sections/About.astro
---

<section class="p-about" id="about">
  <div class="p-about__image-wrapper">
    <img src="/img/about.webp" alt="伝統とイマを繋ぐ" class="p-about__image" />
    <div class="p-about__content">
      <h2 class="p-about__title">伝統とイマを繋ぐ</h2>
      <div class="p-about__text-block">
        <p class="p-about__text">古来から伝わる伝統文化<br>昔からそこにある材料<br>その土地に長い間かけて<br>たくさんのヒントを<br>イマを生きる私たちの<br>心地よさに取り入れ<br>新たな技術革新を<br>起こし続ける会社です</p>
      </div>
    </div>
  </div>
</section>