---
---
<section class="company" id="company">
  <h2 class="company__title">COMPANY</h2>
  <p class="company__subtitle">会社概要</p>

  <div class="company__content" >
    <div class="company__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.2367600565376!2d129.8392701!3d32.8124912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356aad0aefe2a6b9%3A0x13f32e3d4c83018!2z44CSODUyLTgwNjUg6ZW35bSO55yM6ZW35bSO5biC5qiq5bC-77yR5LiB55uu77yV4oiS77yT77yW!5e0!3m2!1sja!2sjp!4v1756185412280!5m2!1sja!2sjp" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>

    </div>

    <div class="company__info">
        <div class="company__info-text-group">
            <p class="company__info-text-company">株式会社 北村建設興業</p>
            <p class="company__info-text-address">〒852-8065<br>長崎県長崎市横尾〇丁目〇-〇</p>
            <p class="company__info-text-tel">
                <span class="company__info-text-tel-label">TEL</span>
                <span class="company__info-text-tel-number">000-000-0000</span>
            </p>
            <p class="company__info-text-mail">Mail info@example.com</p>
        </div>

    </div>
  </div>
</section>
