---
import '../styles/1_layout/l-footer.scss';
---

<footer class="l-footer p-footer">
  <div class="p-footer__content">
    <div class="p-footer__company">
      <p>株式会社 北村建設興業</p>
    </div>
    <hr class="p-footer__line" />
    <nav class="p-footer__nav">
      <ul class="p-footer__list">
        <li class="p-footer__item"><a href="#about">ABOUT</a></li>
        <li class="p-footer__item"><a href="#service">SERVICE</a></li>
        <li class="p-footer__item"><a href="#works">WORKS</a></li>
        <li class="p-footer__item"><a href="#news">NEWS</a></li>
        <li class="p-footer__item"><a href="#company">COMPANY</a></li>
        <li class="p-footer__item"><a href="#contact">CONTACT</a></li>
      </ul>
    </nav>
    <div class="p-footer__sns">
      <ul class="p-footer__sns-list">
        <li class="p-footer__sns-item">
          <a href="#" class="p-footer__sns-link" aria-label="Twitter">
            <svg class="p-footer__sns-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M459.375 151.716c.106 19.344.106 38.688 0 58.031.106 145.438-111.438 328.75-328.75 328.75C170.625 538.5 28.125 450.781 28.125 350.281c8.125.75 16.594 1.25 25.156 1.25 46.813 0 91.563-14.938 128.875-40.813-43.906-1.125-80.156-30.844-94.813-72.156 5.813.938 11.625 1.563 17.5 1.563 8.875 0 17.219-1.25 25.125-3.594-47.531-9.563-83.344-51.563-83.344-102.625 0-45.188 18.719-84.563 48.781-112.531 53.688 66.813 125.656 109.875 208.75 114.531-1.281-5.188-1.969-10.656-1.969-16.344 0-41.906 34.094-76 76-76 21.938 0 41.938 9.375 55.938 24.313 17.5-3.438 34.688-10 50.156-19.156-5.625 17.5-17.5 32.125-33.156 42.188 16.094-1.875 31.75-6.25 46.219-12.844-10.781 16.906-25 31.563-40.594 43.875z" fill="currentColor"></path>
            </svg>
          </a>
        </li>
        <li class="p-footer__sns-item">
          <a href="#" class="p-footer__sns-link" aria-label="Facebook">
            <svg class="p-footer__sns-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-80 0c0-99.4-80.6-180-180-180s-180 80.6-180 180 80.6 180 180 180 180-80.6 180-180zm-100 0c0 53-43 96-96 96s-96-43-96-96 43-96 96-96 96 43 96 96zm220-40H284c-6.6 0-12 5.4-12 12v36h48v-24h-36v-12h36c6.6 0 12-5.4 12-12zm-96 0h-36v-12h36c6.6 0 12-5.4 12-12v-36h48v24h-36v12h36c6.6 0 12-5.4 12-12z" fill="currentColor"></path>
            </svg>
          </a>
        </li>
        <li class="p-footer__sns-item">
          <a href="#" class="p-footer__sns-link" aria-label="YouTube">
            <svg class="p-footer__sns-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path d="M549.655 124.083c-6.238-23.414-24.97-42.146-48.384-48.384C457.75 64 288 64 288 64s-169.75 0-213.271 11.699c-23.414 6.238-42.146 24.97-48.384 48.384-11.699 43.521-11.699 135.099-11.699 135.099s0 91.578 11.699 135.099c6.238 23.414 24.97 42.146 48.384 48.384 43.521 11.699 213.271 11.699 213.271 11.699s169.75 0 213.271-11.699c23.414-6.238 42.146-24.97 48.384-48.384 11.699-43.521 11.699-135.099 11.699-135.099s0-91.578-11.699-135.099zM288 396.115V135.885l144.375 130.115L288 396.115z" fill="currentColor"></path>
            </svg>
          </a>
        </li>
        <li class="p-footer__sns-item">
          <a href="#" class="p-footer__sns-link" aria-label="Instagram">
            <svg class="p-footer__sns-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path d="M224 202.667c-54.88 0-99.333 44.453-99.333 99.333s44.453 99.333 99.333 99.333c54.88 0 99.333-44.453 99.333-99.333s-44.453-99.333-99.333-99.333zm-136 99.333c0 74.966 61.034 136 136 136s136-61.034 136-136-61.034-136-136-136-136 61.034-136 136zM368 96c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm-288 32c0-17.673 14.327-32 32-32s32 14.327 32 32-14.327 32-32 32-32-14.327-32-32zm256 256c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm-128 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm-128-128c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm256 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm-128-128c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32z" fill="currentColor"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="p-footer__copyright">
    ©Copyright2000 kitamurakensetsukogyo
  </div>
</footer>