---
// src/components/sections/service.astro
---

<section class="p-service" id="service">
  <div class="p-service__inner l-container">
    <div class="p-service__heading">
      <h2 class="p-service__title">SERVICE</h2>
      <p class="p-service__subtitle">サービス</p>
    </div>
    <ul class="p-service__list">
      <li class="p-service__item p-service__item--overlap">
        <div class="p-service__media-block">
          <div class="p-service__image-wrapper">
            <img src="/img/pc-service-01.webp" alt="新築" class="p-service__image" />
          </div>
          <p class="p-service__caption">静岡県U.I様自宅</p>
        </div>
        <div class="p-service__text-box">
          <h3 class="p-service__item-title">新築</h3>
          <p class="p-service__item-subtitle">(土地探し～建築)</p>
          <p class="p-service__item-text">
            お客様にあった土地探しから、建築、施工までサポートいたします。風水的観点からもご提案いたします。
          </p>
        </div>
      </li>
      <li class="p-service__item p-service__item--overlap p-service__item--reverse">
        <div class="p-service__media-block">
          <div class="p-service__image-wrapper">
            <img src="/img/pc-service-02.webp" alt="リフォーム" class="p-service__image" />
          </div>
          <p class="p-service__caption">北海道富良野市 ブックカフェ</p>
        </div>
        <div class="p-service__text-box">
          <h3 class="p-service__item-title">リフォーム<br>リノベーション</h3>
          <p class="p-service__item-text">
            馴染みと雰囲気をそのままに住み心地、使い心地を追求してご提供いたします。
          </p>
        </div>
      </li>
      <li class="p-service__item p-service__item--overlap">
        <div class="p-service__media-block">
          <div class="p-service__image-wrapper">
            <img src="/img/pc-service-03.webp" alt="都市計画・開発" class="p-service__image" />
          </div>
          <p class="p-service__caption">広島県竹原市</p>
        </div>
        <div class="p-service__text-box">
          <h3 class="p-service__item-title">都市計画・開発<br>公共施設</h3>
          <p class="p-service__item-text">
            都市計画から都市開発までご提案いたします。公共施設もさらに居心地良く。
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>