---
// src/components/sections/works.astro
---

<section class="p-works" id="works">
  <div class="p-works__inner l-container">
    <div class="p-works__heading">
      <h2 class="p-works__title">WORKS</h2>
      <p class="p-works__subtitle">施工事例</p>
    </div>
    <ul class="p-works__list l-grid l-grid--4cols">
      <li class="p-works__item">
        <div class="p-works__image-wrapper">
          <img src="/img/pc-works-01.webp" alt="長崎県T.O様自宅" class="p-works__image" />
        </div>
        <div class="p-works__caption">
          <p class="p-works__type">【新築】</p>
          <p class="p-works__address">長崎県T.O様自宅</p>
        </div>
      </li>
      <li class="p-works__item">
        <div class="p-works__image-wrapper">
          <img src="/img/pc-works-02.webp" alt="京都府カトリック円融教会" class="p-works__image" />
        </div>
        <div class="p-works__caption">
          <p class="p-works__type">【リノベーション】</p>
          <p class="p-works__address">京都府カトリック円融教会</p>
        </div>
      </li>
      <li class="p-works__item">
        <div class="p-works__image-wrapper">
          <img src="/img/pc-works-03.webp" alt="東京都A.F様自宅兼事務所" class="p-works__image" />
        </div>
        <div class="p-works__caption">
          <p class="p-works__type">【新築】</p>
          <p class="p-works__address">東京都A.F様自宅兼事務所</p>
        </div>
      </li>
      <li class="p-works__item">
        <div class="p-works__image-wrapper">
          <img src="/img/pc-works-04.webp" alt="山形県銀山温泉協同組合" class="p-works__image" />
        </div>
        <div class="p-works__caption">
          <p class="p-works__type">【都市開発】</p>
          <p class="p-works__address">山形県銀山温泉協同組合</p>
        </div>
      </li>
    </ul>
  </div>
</section>